<%= form_with(model: crianca, local: true) do |form| %>
  <% if crianca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crianca.errors.count, "error") %> prohibited this crianca from being saved:</h2>

      <ul>
      <% crianca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome, id: :crianca_Nome %>
  </div>

  <div class="field">
    <%= form.label :Paizao %>
    <%= form.text_field :Pai, id: :crianca_Pai %>
  </div>

  <div class="field">
    <%= form.label :Mae %>
    <%= form.text_field :Mae, id: :crianca_Mae %>
  </div>

  <div class="field">
    <%= form.label :Responavel %>
    <%= form.text_field :Responavel, id: :crianca_Responavel %>
  </div>

  <div class="field">
    <%= form.label :Nascimento %>
    <%= form.date_select :Nascimento, id: :crianca_Nascimento %>
  </div>

  <div class="field">
    <%= form.label :Turma %>
    <%= form.text_field :Turma, id: :crianca_Turma %>
  </div>

  <div class="field">
    <%= form.label :Endereco %>
    <%= form.text_field :Endereco, id: :crianca_Endereco %>
  </div>

  <div class="field">
    <%= form.label :Telefone %>
    <%= form.text_field :Telefone, id: :crianca_Telefone %>
  </div>

  <div class="field">
    <%= form.label :Roupa %>
    <%= form.text_field :Roupa, id: :crianca_Roupa %>
  </div>

  <div class="field">
    <%= form.label :Calcado %>
    <%= form.text_field :Calcado, id: :crianca_Calcado %>
  </div>

  <div class="field">
    <%= form.label :Saude %>
    <%= form.text_field :Saude, id: :crianca_Saude %>
  </div>

  <div class="field">
    <%= form.label :Medicamento %>
    <%= form.text_field :Medicamento, id: :crianca_Medicamento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
