<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @crianca.Nome %>
</p>

<p>
  <strong>Pai:</strong>
  <%= @crianca.Pai %>
</p>

<p>
  <strong>Mae:</strong>
  <%= @crianca.Mae %>
</p>

<p>
  <strong>Responavel:</strong>
  <%= @crianca.Responavel %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @crianca.Nascimento %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @crianca.Turma %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @crianca.Endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @crianca.Telefone %>
</p>

<p>
  <strong>Roupa:</strong>
  <%= @crianca.Roupa %>
</p>

<p>
  <strong>Calcado:</strong>
  <%= @crianca.Calcado %>
</p>

<p>
  <strong>Saude:</strong>
  <%= @crianca.Saude %>
</p>

<p>
  <strong>Medicamento:</strong>
  <%= @crianca.Medicamento %>
</p>

<%= link_to 'Edit', edit_crianca_path(@crianca) %> |
<%= link_to 'Back', criancas_path %>
